<h1> Don't tell anyone I didn't use a doctype</h1>
<h2> Hi, <%= @name %></h2>
<h3> The answer to the universe is <%answer_to_the_universe%> </h3>

<p> But, really, you should use one </p>
<p> We'll see a better way to do this </p>
